{% extends 'layout.html' %}
{% block mycontent %}
<h1><b>ICT ACADEMY</b></h1>
<div class="row">
    <div class="col-sm-6">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores modi magnam illo quae quo fuga dolor nulla quisquam repellat molestias, perspiciatis non recusandae facere, qui cupiditate possimus commodi alias animi!
    </div>
</div><br>
<div class="row">
        <div class="col-sm-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores modi magnam illo quae quo fuga dolor nulla quisquam repellat molestias, perspiciatis non recusandae facere, qui cupiditate possimus commodi alias animi!
        </div>
</div>

{% endblock %}